/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #45badd;
}

.container {
  /* dynamically scale to side of view port (window) using vh */
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;  /* top-bottom instead of left-right */
  justify-content: center;
  align-items: center;
  background: url('./sponge_bob.gif');
  background-size: contain;
  background-position: left center; /* horz prop vert prop */
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 70px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: #996633;
  /* background: linear-gradient(to top, #696969, #475757); */
  position: relative;
  right: 150px;
  bottom: 150px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 25px 15px rgba(0, 0, 0, 0.3); /* horz, vert, blur, spread, color */
}

/* style button using pseudo class hover */
button:hover {
  filter: brightness(120%);  /* button 2% less bright when you click it */
}

/* active pseudo class for button */
button:active {
  transform: scale(0.98);

/* disable pseudo class for button */
button:disabled {
  cursor:default;
  filter:brightness(30%);
}

/* Media Query: Tablet or Smaller */
@@media screen and { max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
